# 域名地址
WEB_DOMAIN='sslguala-ce.ce04.com'

# 微信登录的appid以及key
WECHAT_APP_ID=''
WECHAT_APP_SECRET=''
# 错误监控sentry的地址
SENTRY_URL=''
# 邮件发送的相关配置
TUBECENTER_APP_TOKEN=''
TUBECENTER_APP_URL=''
# newrelic的key
NEWRELIC_KEY=''

REDIS_URL=redis://redis:6379/1 # redis的链接地址

# postgres的数据库地址
POSTGRES_DATABASE=sslguala_production
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db