WEB_DOMAIN='sslguala-ce.ce04.com'
WECHAT_APP_ID=''
WECHAT_APP_SECRET=''
SENTRY_URL=''
TUBECENTER_APP_TOKEN=''
TUBECENTER_APP_URL=''
NEWRELIC_KEY=''

REDIS_URL=redis://redis:6379/1
POSTGRES_DATABASE=sslguala_production
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db